<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-com Demo</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="{{ url_for('static', filename='css/styles_ecom.css')}}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <script src="{{ url_for('static', filename='js/scripts_ecom.js')}}"></script>

    <script src="https://kit.fontawesome.com/6ef435d88f.js" crossorigin="anonymous"></script>

</head>
<body>



{% block top_nav %}


{% endblock %}






{% block login_register %}

{% endblock %}


{% block content%}

{% endblock %}


</body>
</html>
